<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>

	<log4net>
		<root>
			<level value="DEBUG" />
			<appender-ref ref="JsonFileAppender" />
		</root>
		<appender name="JsonFileAppender" type="log4net.Appender.FileAppender">
			<threshold value="INFO" />
			<file value="C:\EasySave\EasySaveJLog.json" />
			<appendToFile value="true" />
			<layout type="log4net.Layout.SerializedLayout, log4net.Ext.Json">
				<decorator type="log4net.Layout.Decorators.StandardTypesDecorator, log4net.Ext.Json" />
				<default />
				<!--membres explicites par défaut-->
				<remove value="ndc" />
				<remove value="message" />
				<remove value="level" />

				<!--supprimer le membre du message préformaté par défaut-->
				<member value="message:messageobject" />
				<member value="message:messageobject" />

				<!--ajouter un message brut-->
				<conversionPattern value=" [%thread]
								   %message%newline" />
				<param name="conversionpattern" value="%date{yyyy-mm-dd hh:mm:ss.sss} %level [%thread] %logger %method:%line - %message%n" />
			</layout>
		</appender>
	</log4net>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>


